[submodule "learn-python"]
	path = learn-python
	url = git@github.com:obernardovieira/learn-python.git
[submodule "learn-testing"]
	path = learn-testing
	url = git@github.com:obernardovieira/learn-testing.git
[submodule "learn-android"]
	path = learn-android
	url = git@github.com:obernardovieira/learn-android.git
[submodule "learn-ruby"]
	path = learn-ruby
	url = git@github.com:obernardovieira/learn-ruby.git
[submodule "learn-php"]
	path = learn-php
	url = git@github.com:obernardovieira/learn-php.git
[submodule "learn-cpp"]
	path = learn-cpp
	url = git@github.com:obernardovieira/learn-cpp.git
[submodule "learn-javascript"]
	path = learn-javascript
	url = git@github.com:obernardovieira/learn-javascript.git
