[submodule "learn-python"]
	path = learn-python
	url = git@github.com:obernardovieira/learn-python.git
[submodule "learn-testing"]
	path = learn-testing
	url = git@github.com:obernardovieira/learn-testing.git
[submodule "learn-android"]
	path = learn-android
	url = git@github.com:obernardovieira/learn-android.git
[submodule "learn-ruby"]
	path = learn-ruby
	url = git@github.com:obernardovieira/learn-ruby.git
[submodule "learn-nodejs"]
	path = learn-nodejs
	url = git@github.com:obernardovieira/learn-nodejs.git
